/* START MAIN COMPONENTS  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* END MAIN COMPONENTS  */

/* START MAIN HEADING  */
.main-heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.main-heading h2{
    font-size: 120px;
    color: #dee3e4;
    font-weight: 600px;
    
}
.main-heading p {
    font-size: 36px;
    color: rgb(33, 37, 41);
    font-weight: 600;
    position: absolute;
    top: 60px;
}
.main-heading p::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #20c997;
    width: 80px;
    margin: auto;

}
@media (max-width:600px){
    .main-heading {
        margin-bottom: 50px;
    }
    .main-heading h2{
        font-size: 65px;
    }
    .main-heading p {
        top: 30px;

        font-size: 30px;
    }
}
@media (max-width:360px){
    .main-heading {
        margin-bottom: 50px;
    }
    .main-heading h2{
        font-size: 40px;
    }

    .main-heading p {
        top: 10px;
    font-size: 25px;
    }
}
/* END MAIN HEADING  */


/* START HOME SECTION  */
.home {
    height: 100vh;
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
    z-index: -10;
    
}
.layer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -9;
}
.home header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: black;
    position: fixed;
    z-index: 100;
}

.home header ul li {
    display: inline;
    list-style-type: none;
    color: #ffffff;
    padding: 5px 15px;
    transition: all 1s;
}

.home header ul li:hover{
    color: #20c997 ;
}
.home header ul li span {
    color: #20c997 ;
}
.home header .bar-icon {
    display: none;
}
.home header .bar-icon i {
    color: #ffffff;
    font-size: 25px;
    padding-top: 7px;
}


.home .home-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
}
.home .home-content .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .home-content p.one{
    font-size: 28px;
    font-weight: 500px;
    margin: 16px 0px;
}
.home .home-content h2 {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 16px;

}
.home .home-content p.two{
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 24px;
}
.home .home-content button {
    border:2px solid #20c997;
    background-color: transparent;
    color: #20c997;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: all 1s;
    margin: 0px auto;
}
.home .home-content button:hover {
    background-color: #20c997;
    color: #ffffff;
}

.home .home-content .about-arrow a {
    color:#ffffff;
    position: relative;
    animation-name: move-to-about ;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.home .home-content .about-arrow a i{
        font-size: 30px;
}

@keyframes move-to-about{
    12.5%{
        top: 5px;
    }
    25%{
        top: 10px;
    }
    37.5%{
        top: 15px;
    }
    50%{
        top: 20px;
    }
    62.5%{
        top: 25px;
    }
    75%{
        top: 30px;
    }
    87.5%{
        top: 35px;
    }
    100%{
        top: 40px;
    }
}

@media screen and (max-width:900px){
    .home header {
        padding: 10px 50px;
    }
    .home header ul {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        top: 45px;
        padding-top: 10px;
        left: 0;
        display: none;
        z-index: 10000;
    }
    .home header ul li {
        display: block;
        border-bottom:1px solid gray;
        padding: 10px 20px;
    }
    .home header ul li:hover {
        padding-left: 35px;
    }
    .home header ul li:last-child{
        border-bottom: none;
    }
    .home header .bar-icon {
        display: block;
    }
    .home header nav:hover ul{
        display: block;
    }
    .home .home-content .content{
        width: 100%;
    }
}
@media (max-width:400px){
    .home header {
        padding: 15px 20px;  
    }
}
/* END HOME SECTION  */

/* START ABOUT SECTION  */
.about {
    padding: 70px 0px;

}
.about .about-content {
    display: flex;
    justify-content: space-between;
   
}
.about .about-content .about-left{
    width: 65%;
}
.about .about-content .about-left h2{
    font-size:28px ;
    font-weight: 600;
    margin-bottom: 20px;
}
.about .about-content .about-left h2 span {
    color: #20c997;
}
.about .about-content .about-left p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(76, 77, 77);
    margin-bottom: 20px;
}

.about .about-content .about-right{
    width: 30%;
}
.about .about-content .about-right ul{
    list-style-type: none;
    margin-bottom: 16px;
}
.about .about-content .about-right ul li{
    list-style-type: none;
    border-bottom: 1px solid #eaeaea;
    padding-top: 12px;
    padding-bottom: 12px;
}
.about .about-content .about-right ul li span{
    margin-right: 10px;
    font-weight: 600;
    color: rgb(76, 77, 77); 
}
.about .about-content .about-right ul li a{
    color: #20c997;
}
.about .about-content .about-right ul li a:hover {
    color: aquamarine;
}
.about .about-content .about-right button{
    padding: 17px 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    background-color: #20c997;
    color: white;
    transition: all 1s;
}
.about .about-content .about-right button:hover {
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    background-color: #137e5e;
}
.about .boxes {
    margin-top:48px ;
    display: flex;
    text-align: center;
}
.about .boxes .num-box{
    width: 25%;
    padding: 10px;
    
}
.about .boxes .num-box:not(:last-child){
    border-right: 1px dotted rgb(224, 222, 222);

}
.about .boxes .num-box h4{
    color: rgb(108, 117, 125);
    font-size: 45px;
    font-weight: 500;
    line-height: 58.032px;
}
.about .boxes .num-box p{
    color: rgb(76, 77, 77);
    font-weight: 400;
    line-height: 28.8px;
    font-size: 16px;
}

@media screen and (max-width:900px){
    .about .about-content .about-right{
        width: 100%;
    }
    .about .about-content .about-left{
        width: 100%;
    }
    .about .about-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;  
    }
    .boxes {
        width: 80%;
    }
    .about .boxes .num-box h4{
        font-size: 40px;
    }
    .about .boxes .num-box p{
        font-size: 14px;
    }
}

@media (max-width:768px){
    .about .boxes {
        flex-wrap: wrap;
        width: 100%;
    }
    .about .boxes .num-box{
        width: 50%;
        padding: 10px;
        
    }
    .about .boxes .num-box:not(:last-child){
        border-right: 1px dotted rgb(224, 222, 222);
    }
    .about .boxes .num-box:nth-child(1){
        border-bottom: 1px dotted rgb(224, 222, 222);

    }
    .about .boxes .num-box:nth-child(2){
        border-bottom: 1px dotted rgb(224, 222, 222);
        border-right: none;
    }
    .about .boxes .num-box h4{
        color: rgb(108, 117, 125);
        font-size: 45px;
        font-weight: 500;
        line-height: 58.032px;
    }
    .about .boxes .num-box p{
        color: rgb(76, 77, 77);
        font-weight: 400;
        line-height: 28.8px;
        font-size: 16px;
    }
}
/* END ABOUT SECTION  */

/* START SERVICES SECTION  */
.services {
    padding: 70px 0px;
    background-color: #f8f9fa;
    
}
.services .serv-f{
   display: flex;
   flex-wrap: wrap;
}
.service {
    width: 50%;
    display: flex;
    margin-bottom: 20px;
}
.service .icon-box{
    padding: 20px 20px;
    width: 70px;
    height: 70px;
    margin: 0px 20px 20px 20px ;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.service .icon-box i {
    color: #20c997;
    font-size: 30px;
}
.service h3 {
    color: rgb(37, 43, 51);
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}
.service p {
    color: rgb(76, 77, 77);
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
}

@media screen and (max-width:900px){
    .services .serv-f{
        width: 80%;
     }
}

@media (max-width:768px){
    .service {
        width: 100%;
        
    }
}
@media (max-width:468px){
    .service {
        width: 100%;
    }
    .services .serv-f{
        width: 100%;
     }
}
/* END SERVICES SECTION  */

/* START RESUME SECTION  */
.resume {
    padding: 70px 0px;
}
.resume .columns {
    display: flex;
}
.resume .columns .column {
    width: 50%;
}
.resume .columns .column h2{
    font-weight: 600;
    color: #252b33;
    font-size: 24px;
    margin-bottom: 24px;
}
.resume .columns .column .resume-box{
    width: 90%;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 24px;
    margin-bottom: 24px;
}
.resume .columns .column .resume-box .date {
    color: white;
    background-color: #20c997;
    font-weight: 400;
    padding: 0px 2px;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 16px;
}
.resume .columns .column .resume-box .box-title {
    color: rgb(37, 43, 51);
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 8px;
}
.resume .columns .column .resume-box .red-text {
    color: rgb(220, 53, 69);
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 16px;
}
.resume .columns .column .resume-box .para {
    color: rgb(76, 77, 77);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 28.8px;
}
.resume .skills{
    display: flex;
    justify-content: space-evenly;
    width: 99%;
    padding-right: 55px;
}
.resume .skills h2 {
    font-weight: 600;
    color: #252b33;
    font-size: 24px;
    margin: 24px 0px 24px 10px;
    display: block;
}
.resume .skills .column {
    width: 40%;
    margin-top: 30px;
}

.resume .skills .column .skill p {
    color: rgb(33, 37, 41);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resume .skills .skill .progress {
    width: 100%;
    height: 0.5rem;
    background-color: #e9ecef;
     border-radius: .25rem;
     margin-bottom:1.5rem ;
}
.resume .skills .skill .progress .progress-bar{
   height: 100%;
   background-color: #20c997;
    border-radius: .25rem;
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
}
.resume .skills .skill .progress .progress-bar.web {
    width: 65%;

}
.resume .skills .skill .progress .progress-bar.hc {
    width: 95%;

}
.resume .skills .skill .progress .progress-bar.js {
    width: 80%;

}
.resume .skills .skill .progress .progress-bar.rjs {
    width: 70%;

}
.resume .skills .skill .progress .progress-bar.ajs {
    width: 60%;

}
.resume .skills .skill .progress .progress-bar.bs {
    width: 99%;

}

.btn-wrapper {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    position: relative;
    left: -25px;
}
.btn-wrapper button {
    border: 3px solid rgb(108, 117, 125);
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    background-color: transparent;
    border-radius: 40px;
    color:rgb(108, 117, 125) ;
    transition: all 1s;
}
.btn-wrapper button i{
    color:rgb(108, 117, 125) ;
}
.btn-wrapper button:hover {
    background-color: rgb(108, 117, 125);
    color:white;
}
.btn-wrapper button:hover i {
    color:white;
}
@media screen and (max-width:900px){
    .resume .columns {
        width: 80%;
    }
    .resume .skills{
        display: block;
    }
    .resume .skills .column {
        width: 80%;
        margin: 0px auto;
    }
    .resume .skills .column .skill {
        margin: 30px 10px;
    }
}

@media (max-width:768px){
    .resume .columns {
        width: 100%;
    }
    .resume .columns {
        flex-wrap: wrap;
    }
    .resume .columns .column {
        width: 100%;
    }
    .resume .columns .column .resume-box {
        width: 100%;
    }
    .resume .skills .column {
        width: 100%;
    }
    .resume .skills {
        padding-right: 0px;
    }
}
/* END RESUME SECTION  */

/* START PORTFOLIO SECTION  */
.portfolio {
    padding: 70px 0px;
    background-color: #f8f9fa;
}


/* END PORTFOLIO SECTION  */